.search-bar {
    margin-top:30px;
    padding:auto;
    box-shadow: 0 4px 10px rgba(0.4, 0.4, 0.4, 0.4);
    border-radius: 10px;
}

.search-input, .search-btn {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.4rem;
  }

  input[type="search"] {
    outline: 0; 
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none; 
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }
  .search-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
  }

  .removeDot {
    list-style-type: none;
    padding-left: 0; 
  }
